@font-face {
  font-family: aggro-bold;
  src: url("./public/font/aggro-bold.ttf");
}
@font-face {
  font-family: aggro-medium;
  src: url("./public/font/aggro-medium.ttf");
}
@font-face {
  font-family: aggro-light;
  src: url("./public/font/aggro-light.ttf");
}

@keyframes landing-rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 1900vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  transition: 2s;
}
/* 마지막에 스크롤 기능 되게 하기 */

/* body::-webkit-scrollbar {
  display: none;
} */

h2,
p {
  margin: 0;
}

/* 맨처음 화면 CSS */
.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  z-index: 10;
}

.mascot {
  width: 340px;
  height: 200px;
  background-image: url("./public/svg/hand-down.svg");
  cursor: pointer;
  z-index: 1;
}
.mascot:hover {
  background-image: url("./public/svg/hand-up.svg");
}

.mascot:hover ~ .circle-con {
  animation-duration: 5s;
}

.mascot.active,
.circle-con.active {
  transition: 1.5s;
  opacity: 0;
  visibility: hidden;
}

/* 클릭하라고 어그로끄는거 */
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: aggro-medium;
  fill: white;
  transform-origin: 50% 50%;
  letter-spacing: 15px;
}

.circle-con {
  position: absolute;
  animation: landing-rotate 20s linear infinite;
  transition: 2s;
}

/* 문 */
.door-1,
.door-2 {
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-color: #0082cc;
  top: 0;
  z-index: -1;
}

.door-1 {
  left: 0;
  transform-origin: left;
}

.door-2 {
  right: 0;
  transform-origin: right;
}

.door-1.active {
  transform: rotateY(150deg);
  transition: 1s;
  transition-delay: 1s;
}
.door-2.active {
  transform: rotateY(-150deg);
  transition: 1s;
  transition-delay: 1s;
}

/* 본격적인 콘텐츠 */
.content-area {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}

.content {
  height: 100vh;
  width: calc(100% - 170px);
  visibility: hidden;
}

.content.active {
  visibility: visible;
}

/* 콘텐츠내 이미지 공통 CSS */
.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transform: translateX(-1500px);
  opacity: 0;
  transition: 1s;
}

.img.active {
  transform: translateX(0);
  opacity: 1;
}

.content .img {
  background-image: url("./public/jpg/mansung-li.jpg");
}

/* 콘텐츠 내 코멘트 공통 CSS */
.comment {
  position: absolute;
  left: 100px;
  bottom: 55px;
  width: 470px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding-left: 36px;
  box-sizing: border-box;
  color: white;
  opacity: 0;
  transform: translateY(100px);
  transition: 1.5s;
}

.comment.active {
  transition-delay: 1s;
  opacity: 1;
  transform: translateY(0);
}

.comment .comment-title {
  font-family: aggro-bold;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
  letter-spacing: -3%;
}

.comment .comment-main {
  font-family: aggro-medium;
  font-size: 30px;
}

.comment .comment-address {
  font-family: aggro-light;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* 우측 직사각형 */
.right-rect {
  height: 100vh;
  width: 170px;
  background: rgba(134, 189, 218, 0.8);
  transform: translateX(200px);
  transition: 1.5s;
}

.right-rect.active {
  transform: translateX(0);
}

/* 우측상단 숫자 */
.number {
  position: absolute;
  font-family: aggro-bold;
  color: white;
  top: 25px;
  left: 50%;
  font-size: 68px;
  letter-spacing: -3px;
  transform: translateX(-50%);
}
.number::after {
  content: "";
  height: 4px;
  width: 110%;
  background-color: white;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-45%);
}

/* 진행률 원 */
.progress-circles {
  position: absolute;
  display: flex;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.pg-circle {
  position: relative;
  background-color: white;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  transition: 1s;
  cursor: pointer;
}

.pg-circle.active {
  background-color: black;
}

/* 맨처음 스크롤 다운 유도 */
.wheel-down {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url("./public/svg/mouse-down.svg");
  background-repeat: no-repeat;
  background-size: 250px 630px;
  background-position: center 70%;
}

.wheel-down p {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-45%);
  font-family: aggro-medium;
  font-size: 52px;
  width: 480px;
  color: white;
}

.ending {
  position: absolute;
  top: 1800vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  background-image: url("/public/jpg/ending.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.ending::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.ending h2,
.ending .book,
.ending p {
  position: absolute;
  z-index: 1;
}

.ending h2 {
  top: 135px;
  width: 100%;
  font-family: aggro-bold;
  text-align: center;
  font-size: 70px;
  letter-spacing: -5%;
}

.book {
  display: flex;
  top: 262px;
  left: 50%;
  transform: translateX(-50%);
}

.korail-book {
  background-image: url(public/svg/korail.svg);
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  height: 270px;
  width: 270px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.7s;
}
.korail-book:hover {
  transform: scale(1.1);
}

.korail-book::after {
  content: "기차예매";
  font-family: aggro-light;
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 30px;
  transform: translateX(-50%);
  margin-top: 7px;
}
